---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  
	{%if post.layout == "email" %}
	<article class="post">
	  <h4><a href="{{ site.baseurl }}{{ post.url }}">Weekly Update {{ post.date | date: "%d/%m/%Y" }} <br />
	  {{ post.title }}</a></h4>
	</article>
	{% else %}
	<article class="post">

	  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  <div class="date">
		{{ page.date | date: "%B %e, %Y" }}
	  </div>

	  <div class="entry">
		{{ post.excerpt }}
	  </div>

	  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	</article>
	{% endif %}
	
  {% endfor %}
</div>