
//
// VARIABLES
//

// Colors
$blue: #4183C4;       // rgb(65, 131, 196)
$lightBlue: #b1cce7;  // rgb(177, 204, 231)

// Grays
$black: #000;         
$darkerGray: #222;    // rgb(34, 34, 34)
$darkGray: #333;      // rgb(51, 51, 51)
$gray: #666;          // rgb(102, 102, 102)
$lightGray: #eee;     // rgb(238, 238, 238)
$midGray: #888;       // rgb(136, 136, 136)

// Backgrounds
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$system: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}