---
layout: default
---

<article class="post">
  <h2>Weekly Update {{ page.date | date: "%d-%m-%Y" }}: {{ page.title }}</h2>
    
  <div class="preamble">
	<p style="text-align:center;"><em>This is one of my weekly summary emails containing security news and analysis. <br />
	If you're interested in receiving these emails directly, you can <a href="http://eepurl.com/dlZTVv">subscribe here</a>.</em></p>
  </div>
  
  <hr>
  
  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="entry">
    {{ content }}
  </div>
  
  <hr>
  
  <div class="postamble">
	<p style="text-align:center;"><em>This is one of my weekly summary emails containing security news and analysis. <br />
	If you're interested in receiving these emails directly, you can <a href="http://eepurl.com/dlZTVv">subscribe here</a>.</em></p>
  </div>
    
  {% include disqus.html %}
</article>
