---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    Blog post, {{ page.date | date: "%e %B %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>
  
  <hr>
  
  <div class="footer">
	<p style="text-align:center;"><strong>@markeldo</strong> on <a href="https://twitter.com/markeldo" target="_blank">Twitter</a></p>

	<p style="text-align:center;">I also write a weekly summary email containing security news and analysis.<br />
	If you're interested, you can <a href="http://eepurl.com/dlZTVv">subscribe here</a>.</p>
  </div>

  {% include disqus.html %}
</article>
